@{
    ViewData["Title"] = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="~/stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="~/stylesheet" href="vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="~/stylesheet" href="vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Clientes</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn btn-success" data-toggle="modal" data-target="#modalData"><i class="fas fa-user-plus"></i> Nuevo Cliente</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>RFC</th>
                                <th>Domicilio(C.P.)</th>
                                <th>Regimen</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>Asalariado</td>
                                <td><span class="badge badge-info">Activo</span></td>
                                <td>
                                    <button class="btn btn-primary btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--  Modal-->
    <div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Detalle Ciente</h6>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" value="0" id="txtId">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="txtNombre">Nombre</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtNombre" name="Nombre">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtCorreo">Correo</label>
                                        <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo" name="Correo">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                    <label for="txtDomicilio">Domicilio(C.P.)</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtDomicilio" name="Domicilio" maxlength="5">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="txtRFC">RFC</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtRFC" name="RFC" maxlength="13">
                                    </div>
                                </div>
                                <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="clienteEstado">Estado</label>
                                    <select class="form-control form-control-sm" id="clienteEstado">
                                        <option value="1">Activo</option>
                                        <option value="0">No Activo</option>
                                    </select>
                                </div>
                                    <div class="form-group col-sm-6">
                                        <label for="cboRegimenFiscal">Regimen Fiscal</label>
                                        <select class="form-control form-control-sm" id="cboRegimenFiscal">
                                        <option value="601">General de Ley Personas Morales</option>
                                        <option value="603">Personas Morales con Fines no Lucrativos</option>
                                        <option value="605">Sueldos y Salarios e Ingresos Asimilados a Salarios</option>
                                        <option value="606">Arrendamiento</option>
                                        <option value="607">Régimen de Enajenación o Adquisición de Bienes</option>
                                        <option value="608">Demás ingresos</option>
                                        <option value="610">Residentes en el Extranjero sin Establecimiento Permanente en México</option>
                                        <option value="611">Ingresos por Dividendos (socios y accionistas)</option>
                                        <option value="612">Personas Físicas con Actividades Empresariales y Profesionales</option>
                                        <option value="614">Ingresos por intereses</option>
                                        <option value="615">Régimen de los ingresos por obtención de premios</option>
                                        <option value="616">Sin obligaciones fiscales</option>
                                        <option value="620">Sociedades Cooperativas de Producción que optan por diferir sus ingresos</option>
                                        <option value="621">Incorporación Fiscal</option>
                                        <option value="622">Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras</option>
                                        <option value="623">Opcional para Grupos de Sociedades</option>
                                        <option value="624">Coordinados</option>
                                        <option value="625">Régimen de las Actividades Empresariales con ingresos a través de Plataformas Tecnológicas</option>
                                        <option value="626">Régimen Simplificado de Confianza</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="button" id="btnGuardar">Guardar</button>
                    <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


<!-- /.container-fluid -->
@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <script src="~/js/vistas/Cliente_Index.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    @* <script src="~/js/vistas/datatables-demo.js"></script> *@
                                }